                    /* MODO ESCURO */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap'); /* font-family: Inconsolata, sans-serif; */

/*
    CORES

#00670c -> -2
#1d9c00 -> -1
#40bf00 -> 0
#6ddf00 -> 1
#a3ff00 -> 2

#202020 -> Fundo
#302f2f -> Fundo nav | caixa
#333030 -> Fundo caixa-imc
#494949 -> Fundo input

*/

/*-------------------- GERAL -----------------------------*/

* {
    margin: 0px;
    padding: 0px;
    transition-duration: 0.2s;
}

body {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 1s;
}

/*------------------ HEADER -------------------------------*/

#principal {
    margin: 10px;
    display: flex;
    align-self: center;
}

#welcome {
    color: #6ddf00;
    font-family: Inconsolata, sans-serif;
    cursor: default;
    transition-duration: 0.4s;
}

/*------------------ NAV ----------------------------------*/

#navegacao-principal {
    display: flex;
}

.navegacao {
    background-color: #302f2f;
    display: flex;
    align-self: flex-start;
    margin-bottom: 20px;
    margin-left: 20px;
    color: white;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 12px 5px 12px;
    border-radius: 10px;
    position: relative;
}

.navegacao #click-info {
    cursor: pointer;
    justify-content: flex-start;
}

.navegacao #click-info:hover {
    text-decoration: underline;
}

.navegacao #perg {
    display: none;
    width: 150px;
    position: absolute;
    margin-top: 10px;
    border: 1px solid white;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    line-height: 17px;
    background-color: white;
    color: black;
}

.botao-modo {
    cursor: pointer;
    transition-duration: 0.2s;
}

.botao-modo:hover {
    text-decoration: underline;
}

/*-------------------- TELA -------------------------------*/

main {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    border-radius: 10px;
    transition-duration: 0.5s;
}

/*------------------ LADO  DE BAIXO -----------------------*/

#lado-baixo {
    width: 50%;
    border-radius: 10px;
    display: flex;
}

#lado-baixo img {
    width: 100%;
}

/*------------------- LADO DE CIMA ------------------------*/

#lado-cima {
    background-color: #302f2f;
    width: 80%;
    border-radius: 10px;
    margin: auto;
    padding: 10px 30px 30px 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.164);
}

#cabecalho-lado-cima {
    color: white;
    display: flex;
    font-family: Inconsolata, sans-serif;
}

#linha-titulo {
    width: 100px;
    border: 1px solid #1d9c00;
    margin-bottom: 10px;
}

#titulo {
    margin: 16px 0px;
}

/*------------------ FORMULÁRIO ---------------------------*/

#caixas-formularios {
    margin: 14px 0px 19px 0px;
}

.perguntas-form {
    color: white;
    font-size: 16px;
    font-family: Inconsolata, sans-serif;
}

.perguntas-form input {
    width: 94%;
    padding: 13px;
    margin-top: 9px;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    color: white;
    transition-duration: 0.7s;
    outline: none;
}

.perguntas-form input:focus {
    box-shadow: inset -0px -0px 10px rgba(0, 0, 0, 0.137);
}

#tamanho {
    margin-top: 15px;
}

.linhas-input {
    border: 1px solid #a3ff00;
}

/*----------------- BOTÃO CALCULAR ------------------------*/

#area-botao-calcular {
    display: flex;
    justify-content: center;
}

#botao-calcular {
    width: 270px;
    height: 34px;
    border-radius: 9px;
    background-color: #1d9c00;
    border: 1px solid #1d9c00;
    transition-duration: 0.3s;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
}

#botao-calcular:hover {
    background-color: #40bf00;
    box-shadow: 0px 0px 7px #40bf0069;
    border-radius: 8px;
}

/*------------------ IMC ----------------------------------*/

#imc {
    height: 90px;
    font-family: Inconsolata, sans-serif;
}

.linhas-imc {
    width: 90%;
    border: 1px solid #1d9c00;
    margin: 17px auto;
}

#area-imc {
    display: flex;
    color: white;
}

#mensagem-imc {
    display: flex;
    align-self: center;
    margin-bottom: 6px;
    margin-left: 5%;
}

#seu-imc {
    display: flex;
    justify-content: center;
    color: lightgreen;
    margin-bottom: 10px;
}

#caixa-imc {
    margin: auto;
}

#seu-estado-imc {
    font-size: 18px;
}

/*----------------- LINKS ---------------------------------*/

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

#links p {
    margin-bottom: 7px;
    font-family: Inconsolata, sans-serif;
}

#links a {
    color: #00670c;
    text-decoration: none;
}

#links a:hover {
    text-decoration: underline;
}